body {
  margin: 0px;
  text-align: center;
  background-color: rgb(192, 224, 235);
}

a{
    font-family: "Recursive", sans-serif;
  color: #3b6978;
    margin: 10px;
    text-decoration: none;
}
a:hover{
    color:#4f8ca0;
}

.top-container {
  background-color: lavenderblush;
  padding-top: 100px;
  position: relative;
  line-height: normal;
}
.bottom-cloud {
  position: absolute;
  top: 300px;
  left: 200px;
  width: 13%;
}
.top-cloud {
  position: absolute;
  right: 250px;
  top: 80px;
  width: 13%;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 6.25rem;
  color: #204051;
  margin: 50px auto 0 auto;
}
h2 {
  font-family: "Sacramento", cursive;
  font-size: 3.125rem;
  color: #204051;
  margin: 0 auto 0 auto;
}
.pp {
  width: 20%;
}
.code-img {
  width: 26%;
  float: left;
  margin-right: 30px;
  position: relative;
  top: 20px;
}
.cupcake-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr {
  border-color: #d9adad;
  border-style: dotted none none;
  width: 4%;
  border-width: 8px;
  height: 0px;
  margin: 40px auto 40px auto;
}
.middle-container {
  background-color: lavender;
}
h3 {
  font-size: 1.875rem;
  font-family: "Recursive", sans-serif;
  color: #3b6978;
  margin-bottom: 0px;
}
p {
  font-size: 20px;
}
.bottom-container {
  background-color: rgb(192, 224, 235);
  margin: 20px 0 0 0;
  font-size: 1.23rem;
  padding: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.intro {
  font-weight: normal;
}
.skill-row {
  width: 50%;
  margin: 20px auto 20px auto;
  text-align: left;
  line-height: 2;
}
.contact-me {
  margin-top: 10px;
  text-align: center;
  position: relative;
}
.contact {
  width: 10%;
  float: left;
  margin-right: 30px;
  position: absolute;
  top: 80px;
  left: 150px;
}
.home {
  text-align: left;
}
.description {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 10px auto 10px auto;
}

.home-contact{
    position: relative;
    left:auto;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #41b5eb;
	background:linear-gradient(to bottom, #5bbcd4 5%, #8cdbff 100%);
	background-color:#5bbcd4;
	border-radius:18px;
	border:2px solid #51bfe0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: "Recursive", sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:13px 19px;
	text-decoration:none;
    text-shadow:0px 1px 5px #000000;
    margin:40px;
}
.btn:hover {
	background:linear-gradient(to bottom, #8cdbff 5%, #5bbcd4 100%);
	background-color:#8cdbff;
}
.btn:active {
	position:relative;
	top:1px;
}
.copyright{
    font-size: 0.75rem;
    padding-top: 10px;
}
